    {% extends 'index.html' %}

    {% load static %}

    {% block header %}
        <link rel="stylesheet" href="{% static 'styles/event.css' %}">
        <link rel="stylesheet" href="{% static 'styles/delete.css' %}">
        <script src="{% static 'scripts/event.js' %}"></script>
        <script src="{% static 'scripts/delete.js' %}"></script>
    {% endblock %}

    {% block event %}
    {% endblock %}

    {% block content %}
    <div class="content">
        <h1>Event Management</h1>
        <button id="openModalBtn">Manage Events</button>
        <p>for users with admin privilege only</p>
    </div>

    {% comment %} Delete Event {% endcomment %}
    <div class="delete_container">
        <span class="delete_close-button">&times;</span>
        <h1>Delete Form<hr></h1>
        <form method="POST" action="{% url 'delete_event' %}" >
            {% csrf_token %}
            <div class="delete_filter-container">
                <label for="filter">Filter by Event Title:</label>
                <input type="text" id="filter" placeholder="Enter event title..." name='event-title'>
            </div>

            <div class="delete_form-group">
                <label for="eventTitle">Event Title:</label>
                <select id="eventTitle" name="eventTitle" required>
                    <option value="" disabled selected>Select an event</option>
                    {% if events %}
                        {% for event in events %}
                            <option value="event1">{{ event.event_title }}</option>                        
                        {% endfor %}
                    {% else %}
                        <option value="event1"></option>
                    {% endif %}
                </select>
            </div>
            <p id="delete-error-message"></p>
            <div class="delete_form-group">
                <input type="submit" value="Submit Delete">
            </div>
        </form>
    </div>

    <div class="form-wrapper" id="form-wrapper">
        <div class="form-container" id="form-container">
            <span class="form-close-btn" id="form-close-btn">&times;</span>
            <h2 class="form-title">Enter Admin Credentials</h2>
            <form id="login-form" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="text" id="username" class="form-input" placeholder="Username" required>
                <input type="password" id="password" class="form-input" placeholder="Password" required>
                <p id="error-message"></p>
                <div class="spinner" id="spinner"></div>
                <div class="form-button-group">
                    <button type="submit" class="form-submit-btn">Submit</button>
                    <button type="button" class="form-cancel-btn" id="form-cancel-btn">Reset</button>
                </div>
            </form>
        </div>
    </div>

    <div id="eventModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create Event</h2>
            <form id="eventForm" method="POST" action="{% url 'submit_event' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="event-title">Event Title:</label>
                    <input type="text" id="event-title" name="event-title" required>
                </div>
                <div class="form-group">
                    <label for="event-date">Start Date:</label>
                    <input type="date" id="event-date" name="event-start-date" required>
                </div>
                <div class="form-group">
                    <label for="event-date">End Date:</label>
                    <input type="date" id="end-event-date" name="event-end-date" required>
                </div>
                <div class="form-group">
                    <label for="event-description">Event Description:</label>
                    <textarea id="event-description" name="event-description" rows="4" required></textarea>
                </div>
                <p id="event-error-message"></p>
                <div class="spinner" id="event-spinner"></div>
                <div class="form-group">
                    <button type="button" id="saveEventBtn">Save</button>
                    <button type="button" class="update" onclick="updateEvent()">Update</button>
                    <button type="button" class="delete" id='deleteEventBtn'>Delete</button>
                </div>
            </form>
        </div>
    </div>

    <div class="events-list" id="eventsList">
        <h2>Saved Events</h2>
        <table class="events-table" id="eventsTable">
            <thead>
                <tr>
                    <th>s/n</th>
                    <th>Event Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% if events %}
                    {% for event in events %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ event.event_title }}</td>
                            <td>{{ event.event_start_date }}</td>
                            <td>{{ event.event_end_date }}</td>
                            <td class="event-description">{{ event.event_description }}</td>
                        </tr>
                    {% endfor %}
                {% else %}                    
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="event-description"></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endblock %}
