body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.lecturers-header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.lecturers-section {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #b8dfe087;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.lecturers-title {
    color: #f70303;
}

.lecturers-text {
    line-height: 1.6;
    text-align: center;
    color: #3a0808;
}

.lecturers-footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}


/* drop down menu for Lecturer page */
.uploadNavElements{
    width: 80%;
    background: linear-gradient(to left, antiquewhite, rgb(237, 234, 234));
    height: 70px;
    border-radius: 0px 0px 40px 40px;
    border-bottom: 2px solid red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.uploadNavElements nav ul{
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

.uploadNavElements nav ul li a{
    line-height: 50px;
    margin-right: 70px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.333);
    border-bottom: 2px solid rgba(0, 0, 255, 0.258);
}

.uploadNavElements nav ul li a:hover{
    border-bottom: 2px solid green;
    color: green;
}

.uploadNavElements{
    display: none;
}

/* #semester{
    width: 20% !important
} */

/* #semester.specialSemester{
    width: 30% !important;
} */

.adjust{
    width: 40.5% !important;
}

#genList, #genRegs{
    font-size: large;
    font-weight: 600;
    width: 59.5%;
    cursor: pointer;
    background-color: rgb(0, 88, 0);
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
    border: none;
}

#genList:hover, #printScoreList:hover, #genRegs:hover{
    background-color: rgb(0, 88, 0, 0.5);
}

#genList:focus, #printScoreList:focus, #genRegs:focus, #genRegList:focus, #idGenerator:focus{
    border: none;
    outline: none;
}

table{
    width: 80%;
}

thead{
    border-bottom: 1px solid brown;
    color: rgb(107, 0, 0);
    font-weight: bold;
}

tr:nth-child(odd){
    background-color: rgba(165, 223, 223, 0.489);
}

tr:nth-child(even){
    background-color: rgba(245, 239, 239, 0.886);
}

#printScoreList{
    font-size: large;
    font-weight: 600;
    width: 79.5%;
    cursor: pointer;
    background-color: rgb(0, 88, 0);
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
    border: none;
    display: none;
}

#idGenerator{
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    background-color: #a5626252;
    border: 1px solid gray;
    color: navy;
    font-weight: bold;
    margin-left: 20px;
}

#idGenerator:hover{
    background-color: #839c92;
    color: white;
}

#genRegList{
    padding: 4px 40px 4px 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.428);
    border: 1px solid gray;
}

#yourRef{
    color: darkblue;
}

#announcementBtn{
    width: 30%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.247);
    color: wheat;
    border-bottom: 2px solid rgba(255, 255, 255, 0.593);
    margin-top: 2%;
}

#announcementBtn:hover{
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
    font-weight: bold;
}

#updateInfo{
    width: 70%;
    background-color: white;
    border: none;
    margin: auto auto;
    border-radius: 10px 0px 0px 10px;
    padding-left: 7px;
    display: none;
}

#updateInfo input{
    background-color: none;
    border: none;
}

#updateInfo input[type="text"]{
    width: 78%;
    background-color: transparent;
}

#updateInfo input[type="text"]:focus, #updateInfo input[type="submit"]:focus, #announcementBtn:focus{
    outline: none;
}

#updateInfo input[type="submit"]{
    width: 20%;
    margin-left: 1%;
    border-left: 1px solid black;
    font-weight: 600;
}

/* Responsiveness */
@media screen and (max-width: 1200px) {
    .main_question h1 {
        font-size: 1.2em;
    }

    .main_question {
        width: 90% !important;
        margin-top: -5% !important;
    }

    #cTitle {
        width: 39% !important;
    }

}

@media screen and (max-width: 500px) {
    .main_question{
        height: 90%;
        width: 95% !important;
    }

    label{
        display: none !important;
    }

    select{
        width: 100% !important;
        display: block;
        margin-top: 12px;
        font-size: 1.2em;
        padding: 8px !important;
    }

    #semester{
        width: 100% !important;
    }

    form{
        width: 90%;
    }

    br{
        display: none;
    }

    #cTitle{
        margin-top: 20px;
        padding: 8px !important;
        width: 100% !important;
        border: 1px solid rgba(128, 128, 128, 0.519);
    }

    #genList{
        margin-top: 30px;
        font-size: 1em !important;
    }

    fieldset{
        margin-top: 10px;
    }

    #genRegs{
        font-size: 0.9em;
    }

    #genRegList{
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
}
