@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Marko+One&display=swap');

body{
    margin: 0px;
    background-image: url(../images/side_lie.png), url(../images/side_line.png), url(../images/side_line2.png);
    background-repeat: no-repeat;
    background-position: 0% 105%, left 50%, left 61%;
}

.header{
    height: 90px;
    border-bottom: 1px solid rgb(227, 214, 214);
    background-color: white;
    top: 0;
}

.logo{
    padding-top: 15px;
    margin-left: 105px;
}

.navigation{
    float: right;
    display: flex;
    margin-top: 8px;
    margin-right: 10%;
}

.navigation li{
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
}

.navigation a{
    color: black;
    text-decoration: none;
}

#default{
    color: #01A559;
}

#special_button, #logout_button{
    border: 1px solid black;
    padding: 2% 2% 2% 2%;
    width: 150px;
    text-align: center;
    background-color: green;
    color: white;
    font-weight: 500;
    border: 2px solid green;
    border-radius: 5px;
}

#logout_button{
    background-color: red;
    border: none;
}

.other_nav{
    color: black;
    text-decoration: none;
}

.midlevel{
    margin-top: 50px;
    height: 750px;
    background-image: url(../images/background_circles.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.mid_image{
    float: right;
    margin-right: 2%;
}

.leftpane{
    margin-left: 5%;
}

.leftpane p{
    font-family: 'Montserrat', sans-serif;
}

.left_top{
    font-family: 'Inika', serif;
    font-size: 50px;
    line-height: 80px;
    padding-top: 180px;
}

.but2{
    color: #033B21;
    text-decoration: none;
    border: 1px solid #033B21;
    border-bottom: 2px solid #033B21;
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
    font-family: 'Inika', serif;
    font-size: 18px;
}

.sec_midlevel{
    display: flex;
    justify-content: center;
}

.sec_midlevel_content{
    display: flex;
    text-align: center;
}

.box_inner{
    height: 140px;
    width: 380px;
    border: 1px solid white;
    box-shadow: 1px 1px 2px 1px rgb(237, 234, 234);
    border-radius: 4px;
    margin-right: 5%;
    padding-top: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.box_inner span{
    font-size: 24px;
    color: #FFB661;
}

.third_midlevel{
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.third_content .third_h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    text-align: center;
}

.third_content .third_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 19.5px;
    text-align: center;
}

.section_midle{
    background-image: url(../images/Line.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 5%;
}

.howitworks{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.icon{
    width: 48%;
    text-align: center;
}

.fifth_midlevel{
    background-color: white;
}

.fifthContent{
    height: 700px;
    width: 100%;
    background-color: white;
    margin-top: 10%;
    background-image: url(../images/YOU.png), url(../images/Loop.png);
    background-repeat: no-repeat;
    background-size: 250px 100px, auto auto;
    background-position: 30%, 28%;
}

.fifthh3{
    margin-left: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    line-height: 96px;
}

.fifthContent img{
    float: right;
    margin-right: 5%;
}

.exploreh3, .questionsh3{
    text-align: center;
    font-size: 48px;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

.exploreContent{
   text-align: center;
}

.explorebutton{
    background-color: #033B21;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
}

.explorebutton:hover{
    color: rgb(1, 44, 1);
    background-color: white;
    font-weight: 600;
    border: 1px solid rgb(1, 44, 1);
    border-bottom: 2px solid rgb(1, 44, 1);
    border-radius: 20px;
}

.questions{
    height: 680px;
    background-color: #fdf4e6;
    margin-bottom: 5%;
}

.questionContent{
    overflow-y: scroll;
    margin-top: 10%;
    height: 650px;
    background-color: #fdf4e6;
}

.questionsh3{
    font-size: 56px !important;
    padding-top: 2%;
}

.freq_questions{
    height: 441px;
    width: 932px;
    margin: auto auto;
    margin-top: 10px;
}

.freq_questions .content{
    padding-top: 40px;
}

.freq_questions .content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;

    padding: 2%;
}

.rightArrow{
    float: right;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.freq_questions .content p{
    font-size: 24px;
    padding: 20px;
    display: none;
}

.footer{
    background: linear-gradient(white, transparent);
    padding-top: 2%;
}

.freq_questions .content{
    border-bottom: 2px solid #FFB661;
}

.footer .content{
    display: flex;
    justify-content: space-evenly;
}

.in_content h5{
    padding-top: 15px;
    padding-bottom: 10px;
}

.in_content h3{
    color: #033B21;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.phone_number{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.content p{
    font-family: 'Montserrat', sans-serif;
}

.footnote{
    margin: auto auto;
    margin-top: 3%;
    border-top: 2px solid rgb(0, 69, 0);
    width: 90%;
}

.footnote p{
    font-family: 'Inika', serif;
    text-align: center;
    padding-top: 2%;
    font-size: 18px;
}

.landingPage_messages{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15.5%;
    background-color: whitesmoke;
    border-radius: 30px;
    font-size: small;
    color: green;
    padding: 3px 50px 3px 50px;
    border: 1px solid rgba(137, 134, 134, 0.184);
}

#welcome{
    color: darkblue;
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .fifthContent{
        height: 900px;
        width: 100%;
        background-image: url(../images/YOU.png), url(../images/Loop.png);
        background-position: 22% 44.5%, 19% 44%;
        background-size: 180px 60px, 250px auto;
    }

    .left_top{
        font-size: 40px;
    }

    /* #all{
        display: none;
    }

    #noMobile{
        display: block !important;
        text-align: center;
        font-weight: 600;
        margin-top: 10%;
    }

    body{
        background-color: whitesmoke;
        background-image: none;
    } */
}


@media screen and (max-width: 1185px) {
    body{
        background-image: url(../images/side_lie.png), url(../images/side_line.png), url(../images/side_line2.png);
        background-position: 0% 15%, left 38%, left 61%;
    }

    .midlevel{
        margin-top: 50px;
        height: 750px;
        background-image: url(../images/background_circles.png);
        background-repeat: no-repeat;
        background-position: 110%;
    }

    #welcome{
        top: 50%;
    }
    

    .logo img{
        width: 70px;
        margin-left: -50px;
        margin-top: 1%;
    }

    .header {
        height: 70px;
    }

    .mid_image{
        width: 50%;
        overflow: hidden;
        margin-right: 0px;
    }

    .box_inner{
        height: 100px;
        width: 280px;
        border: 1px solid rgba(200, 97, 97, 0.414);
        box-shadow: 1px 1px 2px 1px rgb(237, 234, 234);
        border-radius: 10px;
        padding-top: 35px;
    }

    .box_inner h2{
        font-size: 0.5em;
    }

    .box_inner span{
        font-size: 16px;
        color: #FFB661;
    }

    .fifthContent img{
        width: 50%;
    }

    .fifthContent{
        height: 650px;
        width: 100%;
        background-image: url(../images/YOU.png), url(../images/Loop.png);
        background-position: 22% 63%, 19% 65%;
        background-size: 180px 60px, 250px auto;
    }

    .fifthh3{
        font-size: 3.5em;
    }

    .header {
        position: relative;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        text-align: center;
        width: 100vw;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 0px 0px 20px 20px;
        padding: 8px;
        z-index: 1000;
    }

    .menu-icon {
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
        width: 25px;
        height: 30px;
        cursor: pointer;
    }

    .menu-icon-bar {
        width: 100%;
        height: 2px;
        background-color: #333;
        margin: 5px 0;
        transition: transform 0.3s;
    }

    .menu-open .menu-icon-bar:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    .menu-open .menu-icon-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .menu-icon-bar:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }

    .nav-links.show {
        display: block;
    }

    .nav-links li {
        text-align: center;
        margin-bottom: 2px;
        padding: 10px;
    }

    .nav-links a {
        display: block;
    }
}

@media screen and (max-width: 1005px){
    .sec_midlevel {
        display: flex;
        justify-content: center;
    }

    .sec_midlevel_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box_inner {
        margin: 10px;
        text-align: center;
    }

    .fifthContent img{
        width: 40%;
    }

    .fifthh3{
        font-size: 2.5em;
        line-height: 80px;
    }

    .fifthContent{
        height: 400px;
        width: 100%;
        background-image: url(../images/YOU.png), url(../images/Loop.png);
        background-position: 23% 75%, 21% 78%;
        background-size: 100px 40px, 150px auto;
    }

    body{
        background-image: url(../images/side_lie.png), url(../images/side_line2.png);
        background-position: 0% 15%, left 74%;
    }

    .logo img{
        width: 70px;
        margin-left: -50px;
        margin-top: 1%;
    }

    .header {
        height: 70px;
    }

    .exploreh3{
        font-size: 2em;
    }

    .questions{
        width: 100%;
        height: 500px;
        padding: 0px 30px 0px 30px;
    }

    .questionContent{
        height: 480px;
        overflow-y: scroll;
    }

    .questions h3{
        font-size: 1.5em !important;
    }

    .content p{
        font-size: 1em !important;
    }

    .rightArrow{
        float: right;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
    }

    .freq_questions{
        height: 300px;
        width: auto;
        margin: auto auto;
        margin-top: 10px;
    }

    .mid_image{
        width: 50%;
        overflow: hidden;
        margin-right: 0px;
    }

    .mid_image img{
        height: 600px;
    }

    .footer h3{
        font-size: 1em;
    }

    .in_content p{
        font-size: 12px !important;
    }

    .in_content h5, .in_content span{
        font-size: 0.8em !important;
    }

    .in_content #logoLight{
        width: 80px;
    }

}

@media screen and (max-width: 670px) {
    .midlevel{
        background-image: none;
    }

    .mid_image{
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -1000;
        right: 0;
    }

    .logo img{
        width: 90px;
        margin-left: -50px;
        margin-top: 1%;
    }

    .header{
        height: 70px;
    }

    .midlevel{
        height: 550px
    }

    .third_h1 {
        font-size: 2em !important;
    }

    .third_p{
        font-size: 1em !important;
    }

    .fifthh3{
        font-size: 1.7em;
        line-height: 50px;
    }

    .fifthContent{
        background-position: 28% 49%, 26% 48%;
    }

    .fifth_midlevel{
        height: 220px;
    }

    .exploreh3{
        font-size: 1.5em;
    }

    .content h3{
        font-size: 1em !important;
    }

    .content p{
        font-size: 0.8em !important;
    }

    .rightArrow{
        float: right;
        height: 20px;
        margin-top: 10px;
        cursor: pointer;
    }

    .questions{
        height: 200px;
    }

    .questionContent{
        height: 300px;
        overflow-y: scroll;
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .in_content {
        flex: 0 0 calc(33.33% - 20px);
        margin: 10px;
        text-align: center;
    }

    .in_content:nth-child(3) {
        margin-top: 20px;
    }

}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #subAll > * {
        visibility: hidden;
    }

    body {
        background-image: none;
        overflow: hidden;
    }

    .footer {
        display: none;
    }

    body:before {
        content: "Please rotate your phone to landscape mode.";
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 100%;
        height: auto;
        font-weight: bolder;
        background: rgba(255, 255, 255, 0.9);
        z-index: 9999;
        text-align: center;
        font-size: 24px;
        line-height: 1.2; /* Adjust line height for vertical text */
        padding: 20px; /* Add padding for better readability */
        animation: rotateToLandscape 5s infinite alternate; /* Apply rotation animation */
    }

    @keyframes rotateToLandscape {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}
