body{
    background-image: url("../images/questionBank.jpg");
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: top;
   
}

.top{
    background-color: white;
    padding: 5px;
    margin-bottom: 0px;
    border-bottom: 1px solid green;
}

.top p{
    margin-bottom: 0px;
}

.main_question{
    height: 80%;
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-image: url("../images/qBank.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 1px rgb(91, 89, 89);
    box-shadow: 0px 0px 10px gray;
    background-color: white;
    font-size: small;
}

.main_question p{
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    text-align: center;
}

.main_question h1{
    margin-bottom: 3px;
}

.container_question{
    margin-top: 62px;
    margin-bottom: 62px;
    display:flex;
    justify-content: center;
}

.head_question{
    text-align: center;
    font-family: 'Marko One', serif; 
    margin-top: 3%;
}

.head_question span{
    color: green;
}

fieldset{
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.317);
    background-color: rgba(245, 245, 245, 0.801);
    box-shadow: 0px 0px 10px rgb(189, 193, 190);
}

form{
    width: 80%;
    margin:auto;
}

.main_question select{
    width: 32.8%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

#cCode{
    width: 22%;
    margin-right: 20px;
}

.main_question input{
    width: 74%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid gray;
}

.main_question label{
    font-size: small;
    color: gray;
    margin-left: 2%;
    display: inline;
}

#year_label{
    margin-left: 29%;
}

#semester_label{
    margin-left: 30%;
}

#semester{
    width: 33% !important;
}

#cTitle{
    width: 74% !important;
}

#cTitle_label{
    margin-left: 13%;
}

#submit{
    font-size: large;
    font-weight: 600;
    width: 99.5%;
    cursor: pointer;
    background-color: rgb(0, 88, 0);
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;
}

#submit:hover{
    background-color: rgba(0, 110, 0, 0.693);
    border-bottom: 2px solid rgba(255, 0, 0, 0.584);
}

.main_question select:focus, .main_question input:focus{
    outline: none;
}

#loadQuestion, #noQuestion{
    margin-bottom: 10px;
    padding: 10px;
    min-height: 100px;
    width: 85%;
    border-radius: 15px;
    margin: auto;
    border: 1px solid rgba(104, 101, 101, 0.215);
}

#loadQuestion{
    display: nne;
}

#loadHere{
    color: gray;
    font-size: small;
    margin-top: 5%;
}

#author{
    margin-top: 10px;
    color: gray
}

embed{
    width: 100%;
    height: 680px;
    zoom: 1.5;
    overflow-x: none;
}

.questionMessages{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 15.5%;
    background-color: rgb(228, 227, 215);
    border-radius: 30px;
    font-size: small;
    color: darkblue;
    padding: 3px 50px 3px 50px;
    border: 1px solid rgba(137, 134, 134, 0.184);
}


@media screen and (max-width: 1185px) {
    .main_question{
        height: 80%;
        width: 85%;
    }

    #cCode{
        width: 25%;
    }

    #cTitle{
        width: 70.5% !important;
    }

    #cTitle_label{
        margin-left: 15%;
    }
}

@media screen and (max-width: 800px) {
    .main_question{
        height: 80%;
        width: 94%;
    }

    #cCode{
        width: 26%;
    }

    #cTitle{
        width: 69% !important;
    }

    #cTitle_label{
        margin-left: 15%;
    }
}

@media screen and (max-width: 750px) {
    .main_question{
        height: 80%;
        width: 92%;
    }

    #semester{
        width: 32% !important;
    }
    
}