#allContent{
    margin-top: 10px !important;
    margin-bottom: 12px !important;
    margin: auto auto;
    border-radius: 10px;
    width: 70%;
    border: 1px solid rgba(255, 0, 0, 0.311);
    background-color: rgba(244, 240, 240, 0.957);
    padding: 10px 15px 15px 15px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard */
}

body{
    background-image: none;
}

#floatRight{
    float: right;
    display: flex;
}

#timeAllowed{
    line-height: 25px;
    text-align: center;
    color: white;
    position: fixed;
    display:grid;
    margin-left: 8%;
    border: 1px solid green;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.854);
}

.headContent h2, .headContent p{
    text-align: center;
}

.headContent p{
    color: rgb(0, 0, 78);
    font-weight: bold;
    font-size: small;
}

.questionHead{
    display: flex;
}

.questionHead h5{
    font-weight: 400;
    color: darkblue;
    padding-right: 10px;
}

#instruction{
    text-align: center;
    color: rgb(61, 1, 1);
    font-weight: bolder;
}

.asterisk{
    color: red;
}

.options{
    margin-left: 60px;
    margin-bottom: 30px;
}

.options label{
    font-weight: 400;
    margin-left: 12px;
}

.question_text p{
    margin-bottom: 2px;
}

.optionSelect{
    cursor: pointer;
    float: left;
    margin-top: 7px;
}

.optionSelect:hover{
    background-color: rgb(247, 250, 246);
}

.optionLabel{
    cursor: pointer;
}

.optionLabel:hover{
    color: rgb(36, 0, 128);
    font-weight: 600;
}

#score{
    border: 1px solid rgb(63, 0, 0);
    box-shadow: 1px 1px 5px rgb(3, 0, 0);
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: auto auto;
    padding: 10px;
}

#reg, #name{
    line-height: 4px;
}

#name{
    margin: 12px;
}

#numerator{
    padding-top: 8%;
    padding-bottom: 5%;
    border-bottom: 2px solid rgba(0, 0, 69, 0.537);
    margin-bottom: 2px;
}

#denominator{
    line-height: 0px;
}

pre{
    margin-left: 25px;
    margin-top: -22px;
    margin-bottom: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto; 
}

.parginationBtn #submit{
    float: right;
    display: block;
}

#pageCount{
    float: right;
    margin-right: 40%;
    color: darkblue;
    font-weight: bold;
    line-height: 70px;
}

.hide{
    display: none;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

.flash-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: red;
    padding: 10px 20px;
    border: 2px solid red;
    border-radius: 5px;
    z-index: 9999;
}

code {
    margin-top: 4px;
    margin-bottom: 5px;
    color: rgb(144, 0, 0);
}

@media screen and (max-width: 1200px) {
    #allContent{
        width: 98%;
    }

    #timeAllowed{
        display:grid;
        font-size: 1.1em;
        text-decoration: none;
        line-height: 20px;
        text-align: center;
        margin-left: -30px;
        margin-top: 130px;
    }
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    #allContent{
        display: none;
    }

    .footer {
        display: none;
    }

    body:before {
        content: "Please rotate your phone to landscape mode.";
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 100%;
        height: auto;
        font-weight: bolder;
        background: rgba(255, 255, 255, 0.9);
        z-index: 9999;
        text-align: center;
        font-size: 24px;
        line-height: 1.2;
        padding: 20px;
        animation: rotateToLandscape 5s infinite alternate;
    }

    @keyframes rotateToLandscape {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}
