body{
    background-image: url("book-first-sale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    height: 580px;
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 1px rgb(91, 89, 89);
    box-shadow: 0px 0px 10px wheat;
}

.main p{
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    text-align: center;
}

.main h1{
    margin-bottom: 3px;
}

.container{
    margin-top: 62px;
    margin-bottom: 62px;
    display:flex;
    justify-content: center;
}

.head_signup{
    text-align: center;
    font-family: 'Marko One', serif; 
    margin-top: 5%;
}

.head_signup span{
    color: green;
}

.input_section{
    width: 70%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(127, 149, 133, 0.251);
    height: 380px;
}

input{
    width: 85%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 25px !important;
    display: block;
    margin: auto;
}

label{
    color: darkgreen;
    margin-left: 8%;
}

input[type="submit"]{
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 15px !important;
    display: block;
    margin: auto;
    background-color: green;
    font-size: medium;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(173, 204, 173);
    color: darkgreen;
    border: 1px solid darkgreen;
}

#reset{
    color: darkgreen;
    margin-top: 30%;
    border-top: 1px solid green;
}

a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
    font-style: italic;
}

a:hover{
    color: rgb(117, 149, 117);
}

fieldset{
    border: 1px solid rgba(128, 128, 128, 0.396);
    border-radius: 10px;
    padding: 10px;
}