<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/favicon/equestionLogo.PNG' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/homePage.css' %}">
    <script src="{% static 'scripts/index.js' %}"></script>
    <script src="{% static 'scripts/faculty_department.js' %}"></script>
    <script src="{% static 'scripts/courses_engineering.js' %}"></script>
    <script src="{% static 'scripts/courses_sciences.js' %}"></script>
    <script src="{% static 'scripts/optionValidation.js' %}"></script>
    <script src="{% static 'scripts/homePage.js' %}"></script>
    {% block head %}

    {% endblock head %}


    <title>Landing page</title>
</head>
<body>
    <div id="noMobile" style="display: none">
        <div class="noMobile_content">
            <p>Sorry, this page is not available on mobile devices at the moment</p>
        </div>
    </div>
    <!--header page-->
    <div id="all">
        <div class="header">

            <div class="navigation">
                <div class="menu-icon" id="menu-icon">
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                </div>
                <ul class="nav-links">
                    {% block navs %}
                        <li><a id="default" href="{% url 'index' %}">Home</a></li>
                        <li><a class="other_nav" href="{% url 'profileUpdate' %}">Course_Work</a></li>
                        <li><a class="other_nav" href="{% url 'loadResources' %}">Resource</a></li>
                        <li><a class="other_nav" href="{% url 'aboutPage' %}">About_Page</a></li>
                    {% endblock navs %}
                    {% block loginOut %}
                        {% if request.user.is_authenticated %}
                            <li><a class="button" href="{% url 'logout' %}" id="logout_button">LogOut</a></li>
                        {% else %}
                            <li><a class="button" href="{% url 'signUp' %}" id="special_button">Create Account</a></li>
                        {% endif %}
                    {% endblock loginOut %}
                </ul>
            </div>

            <div class="logo">
                <img src="{% static 'images/logo_light_hp.png' %}" alt="">
            </div>
        </div>

    <div id="subAll">
        {% block content %}
        <!--middle page-->

        {% if messages %}
            {% for message in messages %}
                <center><p class="landingPage_messages fadeOff">{{ message }}</p></center>
            {% endfor %}
        {% endif %}

        {% if request.user.is_authenticated %}
            <p id="welcome">Hi! {{ request.user }}</p>
        {% endif %}
        <div class="midlevel">
            <div class="mid_image">
                <img src="{% static 'images/logit.png' %}" alt="">
            </div>
            <div class="leftpane">
                <h2 class="left_top">Empowering Learning <br>with E-Questions</h2>
                <p>Elevate Learning with E-Questions: Inspiring Curiosity, Fostering Engagement, Transforming Education!</p><br>

                {% if request.user.is_authenticated %}
                    <a class="but2" href="{% url 'questions' %}">Explore Question</a>
                {% else %}
                    <a class="but2" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>

        <!--second mid page-->
        <div class="sec_midlevel">
            <div class="sec_midlevel_content">
                <section class="box_inner">
                    <h2>200+ <span>Questions</span></h2>
                </section>
                <section class="box_inner">
                    <h2>220+ <span>Solution</span></h2>
                </section>
                <section class="box_inner">
                    <h2>22+ <span>Experience Mentors</span></h2>
                </section>
            </div>
        </div>

        <!--third level mid page-->
        <div class="third_midlevel">
            <div class="third_content">
                <h1 class="third_h1">How it Works</h1>
                <p class="third_p">Elevate Learning with E-Questions: Inspiring Curiosity, Fostering <br>Engagement, Transforming Education!</p>
            </div>
        </div>

        <!--fourth level mid page-->
        <div class="section_midle">
            <div class="howitworks">
                <section class="icon">
                    <img src="{% static 'images/create_user.png' %}" alt="">
                    <p style="margin-bottom: 100px;">Create Account</p>
                </section>
                <section class="icon">
                    <img src="{% static 'images/profile.png' %}" alt="">
                    <p>Create a students profile</p>
                </section>
                <section class="icon">
                    <img src="{% static 'images/access_question.png' %}" alt="">
                    <p>Access Questions & Answers</p>
                </section>
                <section class="icon">
                    <img src="{% static 'images/download.png' %}" alt="">
                    <p>Download materials</p>
                </section>
            </div>
        </div>

        <!--fith level mid page-->
        <div class="fifth_midlevel">
            <div class="fifthContent">
                <img src="{% static 'images/Vector.png' %}" alt="">
                <h3 class="fifthh3">Designed <br> and <br> prepared <br> for</h3>
            </div>
        </div>

        <!--sixth level mid-->
        <div class="explore">
            <div class="exploreContent">
                <h3 class="exploreh3">
                    Are you ready to start <br> exploring now?
                </h3>
                {% if request.user.is_authenticated %}

                {% else %}
                    {% block closeUp %}
                        <a class="explorebutton" href="{% url 'signUp' %}">Create Account</a>
                    {% endblock closeUp %}
                {% endif %}
            </div>
        </div>

        <!--frequent questions-->
        <div class="questions">
            <div class="questionContent">
                <h3 class="questionsh3">Frequently asked Questions</h3>
                <div class="freq_questions">
                    <section class="content">
                        <h3>Who can use the E-Question? <img class="rightArrow" src="{% static 'images/arrow-up.png' %}" alt=""></h3>
                        <p>
                            Anyone wishing for a revolutionize learning experience by seemslessly integrating innovative technology with interactive questions. it aims to inspire curosity, foster engagement, and transform traditional education method.
                        </p>

                    </section>

                    <section class="content">
                        <h3>Must I be a student of Heritage Polytechnic?<img class="rightArrow" src="{% static 'images/arrow-up.png' %}" alt=""></h3>
                        <p>
                            At the moment, the platform is designed in favour for the students of heritage polytechnic who aims at maximizing their potentials in academics and morals. Not withstanding, we will be maximizing this to reach out to the public
                        </p>
                    </section>

                    <section class="content">
                        <h3>Is this platform accessible offline?<img class="rightArrow" src="{% static 'images/arrow-up.png' %}" alt=""></h3>
                        <p>
                            The portal is accesible only via the internet as the answers to the questions found on the portal are documented in real time
                        </p>
                    </section>
                </div>
            </div>
        </div>


        {% endblock content %}
    </div>

        <!--footer-->
        <div class="footer">
            <div class="content">
                <section class="in_content">
                    <img src="{% static 'images/logo_light_hp.png' %}" alt="logo" id="logoLight">
                    <h5>Empowering learning</h5>
                    <img src="{% static 'images/call_icon.png' %}" alt=""><span class="phone_number">+2348039678842</span><h5>
                    <img src="{% static 'images/email_icon.png' %}" alt=""><span class="email">engen.inyang@gmail.com</span>
                </section>

                <section class="in_content">
                    <h3>Quick Links</h3>
                    <p>Courses</p>
                    <p>Departments</p>
                    <p>Mentors</p>
                    <p>Forum</p>
                </section>

                <section class="in_content">
                    <h3>Connect with us on social Media</h3>
                    <p>Follow us on social media for the latest news and <br>resources from us</p>
                    <img src="{% static 'images/all_media_static.png' %}" alt="" width="200px" height="30px">
                </section>
            </div>
            <div class="footnote">
                <p>&copy; Copyrights 2023 Heritage-eq | All rights reserved</p>
            </div>
        </div>
    </div>
</body>
</html>
