{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <title>Load Resources</title>
    <link rel="stylesheet" href="{% static 'styles/resources.css' %}">
    <script src="{% static 'scripts/resource.js' %}"></script>
{% endblock head %}

    
{% block content %} 
    <p id="getFaculty" style="display: none">{{ faculty }}</p>
    <div class="resources">
        <div class="content">
            <section class="resourseHead">
                <section class="rightPane">
                    <p id="facultyTag">Faculty of {{ faculty }}</p>
                    <p id="departmentTag">{{ department }}</p>
                </section>
                <h2>
                    Explore Resources
                </h2>
                <form action="">
                    <label for="filter">Filter by</label>
                    
                    <select name="filter" id="filter"> 
                        <option value="all">all</option>                   
                        <option value="filter_cCode">Course Code</option>
                        <option value="filter_level">Level</option>
                        <option value="filter_semester">Semester</option>
                    </select> 

                    <select name="" id="filterParams">

                    </select>
                    <p id="submitFilter">Submit</p>                   
                </form>

                <!-- table data -->
                <div class="tableContent">
                    <table class="resourceTable">
                        <thead>
                            <td>Course Code</td>
                            <td>Course Title</td>
                            <td>Level</td>
                            <td>Semester</td>
                            <td>Lecture Resource</td>
                            <td>Recommended site</td>
                            <td>Youtube Channel</td>
                        </thead>
                        {% if resources %}
                            {% for resource in resources %}
                                <tr class="tableProperty">
                                    <td class="tdcCode">{{ resource.course_code }}</td>
                                    <td>{{ resource.course_title }}</td>
                                    <td>{{ resource.level }}</td>
                                    <td>{{ resource.semester }}</td>
                                    <td>
                                        <button class="download">
                                            <a href="{{ resource.lectureMaterial.url }}">Download</a>
                                        </button>
                                    </td>
                                    <td><button class="download"><a href="{{ resource.site_recommendation }}">Explore</a></button></td>
                                    <td><button class="download"><a href="{{ resource.youtube_channel }}">Visit</a></button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                        
                    </table>
                </div>  
            </section>
        </div>
   </div>
   
{% endblock content %}