{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <title>Load Resources</title>
    <link rel="stylesheet" href="{% static 'styles/resources.css' %}">
    <script src="{% static 'scripts/resource.js' %}"></script>
{% endblock head %}

    
{% block content %}

    {% comment %} Reference Number collector {% endcomment %}
    <div id="general">
        <div class="blur-background">
            <div id="custom-container">
                <div id="custom-close-btn">&times;</div>
                <h2>Enter Your Reference Number</h2>
                <center><p id="invalidRef">Invalid Reference Number, Contact site Admin!</p></center>

                <form action="#" method="post">
                    {% csrf_token %}
                    <label for="reference_number" id='refLabel'>Reference Number:</label>
                    <input type="number" id="custom-reference_number" name="reference_number" placeholder="Enter your reference number" required>
                    <center><button id="custom-submit-btn" type="submit">Submit</button></center>
                </form>
            </div>
        </div>
    </div>

    <p id="getDepartment" style="display: none">{{ department }}</p>
    <div class="resources">
        <div class="content">
            <section class="resourseHead">
                <section class="rightPane">
                    <p id="facultyTag">Faculty of {{ faculty }}</p>
                    <p id="departmentTag">{{ department }}</p>
                </section>
                <h2>
                    Explore Resources
                </h2>
                <form action="">
                    <label for="filter">Filter by</label>
                    
                    <select name="filter" id="filter"> 
                        <option value="all">all</option>                   
                        <option value="filter_cCode">Course Code</option>
                        <option value="filter_level">Level</option>
                        <option value="filter_semester">Semester</option>
                    </select> 

                    <select name="" id="filterParams">

                    </select>
                    <p id="submitFilter">Submit</p>                   
                </form>

                <!-- table data -->
                <div class="tableContent">
                    <table class="resourceTable">
                        <thead>
                            <td>Course Code</td>
                            <td>Course Title</td>
                            <td>Level</td>
                            <td>Semester</td>
                            <td>Lecture Resource</td>
                            <td>Recommended site</td>
                            <td>Youtube Channel</td>
                        </thead>
                        {% if resources %}
                            {% for resource in resources %}
                                <tr class="tableProperty">
                                    <td class="tdcCode">{{ resource.course_code }}</td>
                                    <td>{{ resource.course_title }}</td>
                                    <td>{{ resource.level }}</td>
                                    <td>{{ resource.semester }}</td>
                                    <td>
                                        <button class="download lectureDownload">
                                            <a href="#" class="downloadResource">Download</a>
                                        </button>
                                    </td>
                                    <td><button class="download"><a target="_blank" href="{{ resource.site_recommendation }}">Explore</a></button></td>
                                    <td><button class="download"><a target="_blank" href="{{ resource.youtube_channel }}">Visit</a></button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                        
                    </table>
                </div>  
            </section>
        </div>
   </div>
   
{% endblock content %}