{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <title>Load Resources</title>
    <link rel="stylesheet" href="{% static 'styles/courseWork.css' %}">
    <script src="{% static 'scripts/courseWork.js' %}"></script>
    <script src="{% static 'scripts/assessment.js' %}"></script>
{% endblock head %}

    
{% block content %}
    {% csrf_token %}
    <div class="statusBoard">
        <div class="statusContent">
            <h2 id="title">
                STATUS BOARD
            </h2>

            <section class="statusTop">
                <div class="moduleTitle">
                    <h5 id="taskTitle" style="font-weight: 600"></h5>
                    <p id="moduleNumber"></p>
                </div>
                <div class="lightUp">
                    <section class="light">
                        <div class="lightBox">

                        </div>
                        <p id="taskRemark">Not submitted</p>
                    </section>
                </div>

            </section>
            <section class="instruction">
                <h6>Instructions</h6>
                <p>
                    All assignments have been compiled into your hard copy course work, which is also available as a soft copy via this portal's resource center! <br>Using your local machine's IDE, complete the active task and ensure it is working as expected. Once done, push your code to <b>GitHub</b>.<br>
                    Copy the URL of your pushed repository and paste it into the <b>URL</b> text field provided below, then click <b>Save</b>.<br><b>Note:</b> You can only submit your task once, so ensure you verify every aspect of your code before proceeding to click <b>Save</b>.
                </p>
                <button id="noClick"></button>
            </section>

            <section class="submission">
                <form method="POST">
                    {% csrf_token %}
                    <section id="hideIfSubmitted">
                        <label for="urlSubmit">Your answer Url</label>
                        <input type="text" placeholder="https://www.myanswerurl.com" id="urlSubmit" required><br><br>
                    </section>
                    <center id="hideRemark"><h3>Task has been submitted, <i>Congratulations!</i></h3></center>
                    <input type="submit" value="Save" id="submitAssessment">
                </form>
            </section>
        </div>
    </div>


    <div class="cWorkContainer">
        <div class="cWorkContent">
            <h2 id="title">
                COURSE WORK
            </h2>

            <section class="toRight">
                <h3>{{ request.user.faculty }}</h3>
                <h5>{{ request.user.department }}</h5>
            </section>
            <div id="empty">

            </div><hr>
            <div class="flexSection">
                <section class="leftPane">
                    <section class="profilePics">
                        <img src="{{ request.user.profile_picture.url }}" alt="">
                        <p id='userName'>Hello {{ request.user.username }}</p>
                        {% if request.user.regNumber %}
                            <p id='regNo'>{{ request.user.regNumber }}</p>
                        {% else %}
                            <p id='regNo'>No RegNumber</p>
                        {% endif %}
                    </section>
                    <h5>Registered Courses</h5>
                    <ul class="listCourses">
                    {% if data %}
                        {% for course in data %} 
                            <p class="regC_code" style="display: none">{{ course.courseCode }}</p>                       
                            <li class='regCourses'>{{ course.courseTitle }}</li>
                        {% endfor %}
                    {% else %}
                        <li>No registered courses yet</li>
                    {% endif %}
                    </ul>
                </section>

                <section class="mainContent">
                    <section class="toRightContent">
                        <h5>Grade: <span id="gradeColor">0%</span></h5>
                    </section>
                    <section class="courseDetail">
                        <h5>Course Code: <span id='cCodeSelect'>--Select Registered Course--</span></h5>
                        <h5>Course Title: <span id='cTitleSelect'>None</span></h5>
                    </section>

                    <section class="progressTable">
                        <h5>Progress Table <span style="float: right; margin-right: 50px" id="countdown">Timer: 00::00:00:00
                        </span></h5>
                        <section class="tableView">
                            <table>
                                <thead>
                                    <td>S/No</td>
                                    <td>Module Name</td>
                                    <td>Task Type</td>
                                    <td>Task Score</td>
                                    <td>Start Date</td>
                                    <td>End Date</td>
                                    <td>Status</td>
                                    <td>Submit</td>
                                </thead>
                                {% if taskUpdate %}                                                             
                                    {% for task in taskUpdate %}
                                        <tr class="allDataSchedule">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ task.intro }}</td>
                                            <td>{{ task.taskType }}</td>
                                            <td class="scores">{{ task.score }}<span>%</span></td>
                                            <td class="startDate">{{ task.startDate }}</td>
                                            <td class="endDate">{{ task.endDate }}</td>
                                            <td class="submitStatus">Scanning</td>
                                            <td class='clickMe'>Submit task
                                                <div class="statusLight">

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8"><center>No task available at the moment! enjoy the silence...</center></td>
                                    </tr>
                                {% endif %}
                                
                            </table>
                        </section>
                    </section>
                    
                </section>
            </div>
            <section class="statistics">
                <h5>STATISTICS</h5>
                <section class="displayP">
                    <p id="allTask">All Task: 0 </p>
                    <p id="completedTask">Completed: 0</p>
                </section>
                    
            </section>
        </div>
    </div>
   
{% endblock content %}