{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <title>Load Resources</title>
    <link rel="stylesheet" href="{% static 'styles/testPage.css' %}">
    <script src="{% static 'scripts/testPage.js' %}"></script>
{% endblock head %}

    
{% block content %}
<div id="allContent">
    <div class="headContent">
        <div id="floatRight">
            <h5 id="timeAllowed">Time allowed: <span id="duration">{{ duration }}mins</span></h5>
            <div id="scoreLog">
                <section id="score">
                    <h5 id="numerator">0</h5>
                    <h5 id="denomenator">100</h5>
                </section>
                <p id="name">Gentle Inyang</p>
                <p id="reg">230115003</p>
            </div>
        </div>
        <h2>QUIZ ON</h2>
        <section id="userDetails">
            <p>CTE323: <span>Python Programming Language</span></p>
        </section>
    </div><hr>
    <p id="instruction">
        <span class="asterisk">*</span> Pick only the options that appears correct in respect to the question asked.
    </p>
    
    <div class="questionSection">
        {% if quiz %}
            {% for questions in quiz %}
                <div class="question">
                    <p class="questionID hide">{{ questions.questionID }}</p>
                    <div class="questionHead">
                        <section class="serial">
                            <h5>Q_{{ forloop.counter }}:</h5>
                        </section>
                        <section class="question_text">
                            <p>{{ questions.question }}</p>
                        </section>
                    </div>
            
                    <section class="options">
                        <input type="radio" class="optionSelect ans1" name="question{{ forloop.counter }}" id="" value="A">
                        <label class="optionLabel ans2" for=""><span>A.</span>  <pre>{{ questions.options.A }}</pre></label><br>

                        <input type="radio" class="optionSelect ans2" name="question{{ forloop.counter }}" id="" value="B">
                        <label class="optionLabel" for=""><span>B.</span>   <pre>{{ questions.options.B }}</pre></label><br>

                        <input type="radio" class="optionSelect ans3" name="question{{ forloop.counter }}" id="" value="C">
                        <label class="optionLabel" for=""><span>C.</span>   <pre>{{ questions.options.C }}</pre></label><br>

                        <input type="radio" class="optionSelect ans4" name="question{{ forloop.counter }}" id="" value="D">
                       <label class="optionLabel" for=""><span>D.</span>    <pre>{{ questions.options.D }}</pre></label><br>
                    </section>
                </div>         
            {% endfor %}
        {% else %}
        {% endif %}

        

        <div class="parginationBtn">
            <form>
                {% csrf_token %}
                <button id="submit">Submit</button>
            </form>
            <button id="prev">Previous</button>
            <button id="next">Next</button>
            <p class="hide totalPage"> {{ totalPages }} </p>
            <p id="pageCount">Page <span id="countPage">{{ pageCount }}</span> of {{ totalPages }}</p>
        </div>
    
    </div>
</div>

   
{% endblock content %}