# Windows
Thumbs.db
Desktop.ini

# Python
*.pyc
*.pyo
__pycache__/

# Visual Studio Code
.vscode/

# Directories
  - build
  - dist
  - logs
  - source

# Installer
  - *.whl
  - *.tar.gz