{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
    <link rel="stylesheet" href="{% static 'styles/homePage.css' %}">
{% endblock head %}

{% block loginOut %}
    <li><a class="button" href="{% url 'staffLogout' %}" id="logout_button">LogOut</a></li>
{% endblock loginOut %}

{% block navs %}
    <li><a id="default" href="{% url 'homePage' %}">Home</a></li>
    <li><a class="other_nav" href="#" id="uploadNav">Upload</a></li>
    <li><a class="other_nav" href="{% url 'aboutPage' %}">About Page</a></li>
{% endblock navs %}

{% block content %}
    <div class="uploadNavElements">
        <nav>
            <ul>
                <li><a href="{% url 'upload_question' %}">Questions</a></li>
                <li><a href="{% url 'scoreBoard' %}">Accessment</a></li>
            </ul>
        </nav>
    </div>

    <div class="lecturers-header">
        <h1>Lecturers' Homepage</h1>
    </div>

        <div class="container_question">
            <div class="main_question">
                <section class="top">

                    {% if messages %}
                        {% for message in messages %}
                            <center><p class="messages fadeOff">{{ message }}</p></center>
                        {% endfor %}
                    {% endif %}

                    <h1 class="head_question">Load <span>Score</span> & Generate <span>Ref Number</span></h1>
                    <p>Examination isn't the true test of <span style="font-weight: bolder;">Knowledge.</span> <br>Good luck!</p>
                </section>

                <section class="input_section"><br>
                    <fieldset><br>
                        <form action="#" method="POST" id="submitScores">
                            {% csrf_token %}
                            <label for="faculty">Faculty <label for="department" id="department_label">Department</label><label for="level" id="level_label">Level</label></label><br>
                            <select name="faculty" id="faculty">
                                <option value="" disabled selected style="display:none">Choose Faculty</option>
                                <option value="Engineering">Engineering</option>
                                <option value="Environmental Science">Environmental Science</option>
                                <option value="Management Science">Management Science</option>
                                <option value="Science and Technology">Science and Technology</option>
                            </select>

                            {% comment %} logic getter {% endcomment %}
                            <input type="text" name="nameGet" id="nameGet" placeholder="Course title" style="display:none">

                            <select name="department" id="department">
                                <option value="" disabled selected style="display:none">No Faculty Selected</option>
                            </select>

                            <select name="level" id="level">
                                <option value="" disabled selected style="display:none">Choose your level</option>
                                <option value="ND 100">ND 100</option>
                                <option value="ND 200">ND 200</option>
                                <option value="HND 100">HND 100</option>
                                <option value="HND 200">HND 200</option>
                            </select><br><br>

                            <select name="semester" id="semester" class="specialSemester">
                                <option value="" disabled selected style="display:none">Select Semester</option>
                                <option value="Semester 1">Semester 1</option>
                                <option value="Semester 2">Semester 2</option>
                            </select>

                            {% comment %} <label for="cCode">Course-code <label for="cTitle" id="cTitle_label">Course Title</label></label><br> {% endcomment %}
                            <select name="cCode" id="cCode">
                                <option value="" disabled selected style="display:none">Select Course Code</option>
                            </select>
                            <input type="text" name="cTitle" id="cTitle" placeholder="Course title" class="adjust"><br><br>

                            <center>
                                <button id="genList" type="button">Generate Data</button>
                            </center>
                        </form>

                            <hr>
                            <center>
                                <section id='allscores'>
                                    <table id="print-table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Full Name</th>
                                                <th>Reg. Number</th>
                                                <th>TScore</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>

                                    </table>
                                </section>
                            </center>
                        <br>
                        <center><button id="printScoreList">Print Score List</button></center>

                        <div id="author">
                            <p>Powered by EnGentech | @2024</p>
                        </div>
                    </fieldset>


                </section>
            </div>
        </div>
        <!-- Add more content related to courses -->


    <div class="lecturers-section">
        <center><h2 class="lecturers-title">Generators</h2></center>
        <p class="lecturers-text">Generators are premium to authenticate paid students before obtaining lecture material on the internet in addition to the physical lecture material.</p>
        <center>
            <button id="genRegs" type="button" title="Ensure to select faculty and department">Generate Regs.</button>
        </center>
        <center>
            <select name="" id="genRegList">
                <option value="" disabled selected style="display:none">click to generate</option>
            </select>
            <input type="submit" value="Generate Reference ID" id="idGenerator">
            <br><br>
            <h2 id="yourRef"></h2>
        </center>

        <!-- Add more content related to research -->
    </div>

    <div class="lecturers-footer">
        <form action="{% url 'announcement' %}" method="post" id="announcementContainer">
            {% csrf_token %}
            <section id="updateInfo">
                <input type="text" name="announcement" id="announcement">
                <input type="submit" value="Update" id="submitUpdate">
            </section>
        </form>
        <p><button id="announcementBtn">Update Announcement</button></p>
    </div>

{% endblock content %}