{% extends "landingPage.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
    <link rel="stylesheet" href="{% static 'styles/submitScore.css' %}">
    <script src="{% static 'scripts/upload.js' %}"></script>
    <script src="{% static 'scripts/submitScore.js' %}"></script>
    <title>Upload Question</title>
{% endblock head %}

{% block loginOut %}
    <li><a class="button" href="{% url 'staffLogout' %}" id="logout_button">LogOut</a></li>  
{% endblock loginOut %}

{% block navs %}
    <li><a id="default" href="{% url 'homePage' %}">Home</a></li>
    <li><a class="other_nav" href="#" id="uploadNav">Upload</a></li>
    <li><a class="other_nav" href="{% url 'aboutPage' %}">About_Page</a></li>
{% endblock navs %}

{% block content %}
    <div class="uploadNavElements">
        <nav>
            <ul>
                <li><a href="{% url 'upload_question' %}">Questions</a></li>
                <li><a href="#">Accessment</a></li>
            </ul>
        </nav>
    </div>

    <div class="container_question">
        <div class="main_question">
            <section class="top">
                
                {% if messages %}
                    {% for message in messages %}
                        <center><p class="messages fadeOff">{{ message }}</p></center>                       
                    {% endfor %}
                {% endif %}
                
                <h1 class="head_question">Score <span>Board</span></h1>
                <p>Examination isn't the true test of <span style="font-weight: bolder;">Knowledge.</span> <br>Good luck!</p> 
            </section>

            <section class="input_section"><br>
                <fieldset><br>
                    <form action="{% url 'updateScores' %}" method="POST" id="submitScores">
                        {% csrf_token %}
                        <label for="faculty">Faculty <label for="department" id="department_label">Department</label><label for="level" id="level_label">Level</label></label><br>
                        <select name="faculty" id="faculty">
                            <option value="" disabled selected style="display:none">Choose Faculty</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Environmental Science">Environmental Science</option>
                            <option value="Management Science">Management Science</option>
                            <option value="Science and Technology">Science and Technology</option>
                        </select>

                        {% comment %} logic getter {% endcomment %}
                        <input type="text" name="nameGet" id="nameGet" placeholder="Course title" style="display:none">

                        <select name="department" id="department">
                            <option value="" disabled selected style="display:none">No Faculty Selected</option>
                        </select>

                        <select name="level" id="level">
                            <option value="" disabled selected style="display:none">Choose your level</option>
                            <option value="ND 100">ND 100</option>
                            <option value="ND 200">ND 200</option>
                            <option value="HND 100">HND 100</option>
                            <option value="HND 200">HND 200</option>
                        </select><br><br>

                        <select name="semester" id="semester">
                            <option value="" disabled selected style="display:none">Select Semester</option>
                            <option value="Semester 1">Semester 1</option>
                            <option value="Semester 2">Semester 2</option>
                        </select>

                        {% comment %} <label for="cCode">Course-code <label for="cTitle" id="cTitle_label">Course Title</label></label><br> {% endcomment %}
                        <select name="cCode" id="cCode">
                            <option value="" disabled selected style="display:none">Select Course Code</option>
                        </select>
                        <input type="text" name="cTitle" id="cTitle" placeholder="Course title"><br><br>

                        <div id="loadQuestion">
                            <embed src="Inyang, I. U. (Resume).pdf" type="application/pdf">
                        </div>
                        <center>
                            <select id='taskName' name="taskName">
                                <option value="" disabled selected style="display:none">Select Target task</option>
                            </select>
                            <button id="genList" type="button">Generate List</button>
                            <p id='noneRegistered'>No registered Student</p>
                        </center>
                        <hr>
                        <section id='scoreSection'>
                            <select name="regNo" id="regNo">
                                <option value="" disabled selected style="display:none" required>Select Reg. Number</option>
                            </select>
                            <span><b>Full Name:</b> <span id='fullName' name="fullName">-- Select Reg Number --</span></span>
                            <br><br><h6 id="linkBase"><b>Link to URL: </b> <a href="#" id="urlLink" target="_blank">Visit submited URL</a>
                            <span id="scoreValue">Score: <input type="number" name="score" id="score" placeholder="-- Select Reg. No. --" required></span></h6>
                            <center><p id="comment">Comment or Remark</p></center>
                            <textarea name="remark" id="textArea" required></textarea>
                            <!-- Loading dots element -->
                            <div id="loadingDots" style="display: none;">
                            </div>
                            <section id="submitScoreSection">
                                <br><br><input type="submit" id="submitScore" value="Submit Score">
                            </section>
                        </section>

                    </form>
                    

                    <div id="author">
                        <p>Powered by EnGentech | @2024</p>
                    </div>
                </fieldset>

                
            </section>
        </div>
    </div>
{% endblock content %}